.gameContainer {
  
}

.userBox {
    margin: 1rem;
}

.sillyBotBox {
    margin: 1rem;
}



/* Reusable classes */
.hide {
    display: none;
}

.show {
    display: unset;
}

.flex {
    display: flex;
}