#guess {
    background-color: #514E7C;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fdf9de;
    width: 23rem;
    height: 1rem;
}

#submitGuess {
    width: 25rem;
}
.padding {
    padding: 0rem 4rem 0rem 4rem;
}

body {
    height: 100%;
    width: 100%;
}

.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.userBox {
    margin: 1rem;
    display:  flex;
    flex-direction: column;
}

.user-item {
    margin: 1rem;
}

.start {
    display: flex;
    align-self: start;
}

#presentText {
    font-size: 3rem;
    width: 30rem;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #514E7C;
    text-align: center;
    vertical-align: center;
    font-size: 2rem;
    visibility: hidden;
}


/* Silly bot below */
.sillyBotBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #514E7C;
    border-radius: 1rem;
    margin: 1rem;
}

.sillyBotBox h2 {
    /* padding: 1rem; */
    font-size: 2rem;
    margin: 1rem;
}

.sillyBotBox li{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin: 1rem;
}

.sillyBotBox ul{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.sillyBotBox img{
    width: 10rem;
    height: 10rem;
    padding: 1rem;
}

/* Silly bot above */

/* Dumb bot below */

.dumbBotBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #514E7C;
    border-radius: 1rem;
    margin: 1rem;
}

.dumbBotBox h2 {
    /* padding: 1rem; */
    font-size: 2rem;
    margin: 1rem;
}

.dumbBotBox li{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin: 1rem;
}

.dumbBotBox ul{
    padding: 0;
    font-size: 1.5rem;
}

.dumbBotBox img{
    width: 10rem;
    height: 10rem;
    padding: 1rem;
}

/* HardCore bot above */


/* Reusable classes */
.hide {
    display: none;
}

.show {
    display: flex;
}

.flex {
    display: flex;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px){
   
}

@media (max-width: 480px) {
    #presentText {
        font-size: 1.5rem;
        width: 15rem;
    }
    #submitGuess {
        width: 15rem;
    }
    #guess {
        width: 15rem;
    }
}