.login-container {
  font-weight: bold;
  font-size: 2.5rem;
  width: 50%;
  max-width: 30rem;
  margin: 0 auto 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 30rem;
}

.username-input,
.password-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.login-input {
  background-color: #514E7C;
  border-radius: .5rem;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fdf9de;
  height: 3rem;
}

.link-button {
  float: left;
}

/*--------- TABLET LARGE ---------*/
@media (max-width: 1024px) {

  .login-container {
    width: 100%;
  }

  .username-input,
  .password-input {
    margin-bottom: 1rem;
  }
}
  