
.menu-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.menuLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.menuRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 50%;
}

.menuWelcome {
  display: flex;
  align-items: center;

  font-weight: bold;
  color: #fdf9de;
  font-size: 1.5rem;
  line-height: 6rem;
}

.menuInfo {
    display: flex;
    align-items: center;
}

.menuInfo p {
    margin: 0 0 2rem 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.menuChatBubble {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20rem;
    height: 5rem;
    margin-bottom: 5rem;
    position: relative;
    background: #00e6b3;
    border-radius: 0.4em;
  
    font-weight: bold;
    font-size: 1.5rem;
}

.menuChatBubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-top-color: #00e6b3;
    border-bottom: 0;
    border-right: 0;
    margin-left: 50px;
    margin-bottom: -30px;
}

.menuImg {
    justify-self: flex-end;
}

.menuImg > img {
    height: 17rem;
    transform: scaleX(-1);
    align-self: flex-end;
}

.link-button {
    align-self: center;
    text-align: center;
}

/*--------- TABLET LARGE ---------*/
@media (max-width: 1024px) {

    .menuRight {
        display: none;
    }

    .menuLeft {
        width: 100%;
    }
  }
