.menuContainer {
  font-weight: bold;
  color: #fdf9de;
  font-size: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.menuWelcome {
  display: flex;
  align-items: center;

  font-weight: bold;
  color: #fdf9de;
  font-size: 1.5rem;
  line-height: 6rem;
}

.menuInfo {
  display: flex;
  align-items: center;

  color: #fdf9de;
  font-weight: bold;
  font-size: 1.5rem;
}

.menuRight {
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
}

.menuChatBubble {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20rem;
  height: 5rem;
  position: relative;
  background: #00e6b3;
  border-radius: 0.4em;
  margin-top: 5rem;
  margin-bottom: 7rem;

  color: #fdf9de;
  font-weight: bold;
  font-size: 1.5rem;
}

.menuChatBubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #00e6b3;
  border-bottom: 0;
  border-right: 0;
  margin-left: 105px;
  margin-bottom: -40px;
}

.menuImg > img {
  height: 17rem;
  transform: scaleX(-1);
  padding-right: 8rem;
}

.logOut {
  display: flex;
  justify-content: center;
}

.logOut > a {
  color: #fdf9de;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-top: 1rem;
}

.logOut > a:hover {
  color: #fc42ab;
}
