.registration-container {
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.username-input,
.password-input,
.email-input,
.second-password-input {
  display: flex;
  flex-direction: column;
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
}

.top-row,
.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.register-input {
  background-color: #514e7c;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fdf9de;
  height: 3rem;
}

.button-container {
  margin-top: 1rem;
  width: calc(50% - 1rem);
}

/*--------- TABLET LARGE ---------*/
@media (max-width: 1024px) {

  .username-input,
  .password-input,
  .email-input,
  .second-password-input,
  .button-container {
    width: 100%;
  }

  .username-input,
  .password-input,
  .email-input,
  .second-password-input {
    margin-bottom: 1rem;
  }

  .top-row,
  .bottom-row {
    flex-direction: column;
  }
}
  
