.rules-container {
    margin-bottom: 2rem;
}

.rules-txt {
    width: 50%;
    margin-right: 15%;
}

.rules-txt p {
    margin-bottom: 1rem;
}

.rules-list {
    width: 35%;
}

.list-item {
    position: relative;
    width: auto;
    align-items: center;
    margin-bottom: 1.5rem;
}

.circle {
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    left: -4rem;
    background-color: #00E6B3;
    margin-right: 1rem;
}