/* MAIN */

.chat-bubble-wrapper {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.chat-bubble {
  margin-right: 15%;
  position: relative;
  background: #00e6b3;
  border-radius: 0.4em;
  width: 18rem;
  height: 6rem;

  color: #fdf9de;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  font-weight: bold;
}

.chat-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top-color: #00e6b3;
  border-bottom: 0;
  border-left: 0;
  margin-left: -20px;
  margin-bottom: -30px;
}

.welcome {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 6rem;
  margin: 1.5rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome > h1 {
  width: 50rem;
  margin: 2rem 0;
}

.button-container {
  width: 100%;
  max-width: 30rem;
  margin: 0 auto 0 auto;
}

.register {
  display: flex;
  justify-content: center;
}

.link-button {
  text-align: center;
}

/* END MAIN */

/*--------- TABLET SMALL ---------*/
@media (max-width: 768px) {
  .welcome {
    font-size: 2.2rem;
    line-height: 5rem;
  }
}

/*--------- TABLET SMALL ---------*/
@media (max-width: 480px) {
  .chat-bubble {
    width: 90%;
    margin-right: 0;
  }

  .chat-bubble span {
    font-size: 1.2rem;
    padding: 1.5rem 0.5rem;
  }

  .welcome {
    font-size: 1.5rem;
    line-height: 4rem;
  }
}
