body {
  font-family: "Poppins", sans-serif;

  margin: 0;
  background-color: #242254;
  color: #fdf9de;
  height: 100vh;
}

body * {
  box-sizing: border-box;
}

a {
  width: 100%;
  color: inherit;
}

/* REUSABLE CLASSES */

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: unset;
}

/* END REUSABLE CLASSES */

/* BUTTONS */

.primary-button-lg {
  padding: 0.8rem 0;
  width: 100%;
  background-color: #fd7cc5;
  color: inherit;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.primary-button-lg:hover {
  background-color: #fc42ab;
  cursor: pointer;
}

.secondary-button-lg {
  padding: 0.8rem 0;
  width: 100%;
  background-color: transparent;
  color: #fd7cc5;
  border: 0.2rem #fd7cc5 solid;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.secondary-button-lg:hover {
  background-color: #fd7cc5;
  color: #fdf9de;
  cursor: pointer;
}

.link-button {
  display: inline-block;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: 1.2rem;
}

.link-button:hover {
  color: #fc42ab;
}

.primary-button-lg:first-of-type,
.secondary-button-lg:first-of-type {
  margin-bottom: 1rem;
}

.primary-button-lg:last-of-type,
.secondary-button-lg:last-of-type {
  margin-bottom: 0;
}

.primary-button-lg+.primary-button-lg,
.primary-button-lg+.secondary-button-lg,
.secondary-button-lg+.primary-button-lg,
.secondary-button-lg+.secondary-button-lg {
  margin-bottom: 1rem;
}

/* END BUTTONS */

/* HEADER */

.header {
  height: 5rem;
  color: #bab6f5;

  display: flex;
  align-items: center;
  padding: 0 5rem;
}

/* END HEADER */

/* MAIN */

.title {
  font-size: 2.8rem;
  margin: 0 0 3rem 0;
  line-height: 1.5rem;
  align-self: flex-start;
}

.main {
  display: flex;
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 3rem 8rem;
  flex-direction: column;
}

/* END MAIN */

/* MEDIA QUERIES */

/*--------- TABLET LARGE ---------*/
@media (max-width: 768px) {
  .main {
    padding: 3rem 5rem;
  }

  .primary-button-lg,
  .secondary-button-lg,
  .primary-button-sm {
    width: 100%;
  }
}

/*--------- TABLET SMALL ---------*/
@media (max-width: 768px) {

  .title {
    font-size: 2.4rem;
  }

  .primary-button-lg,
  .secondary-button-lg {
    font-size: 1.4rem;
  }

  .header {
    padding: 0 3rem;
  }

  .main {
    padding: 3rem 3rem;
  }
}

/*--------- MOBILE ---------*/
@media (max-width: 480px) {
  .header {
    padding: 0 1.5rem;
  }

  .main {
    padding: 1.5rem 1.5rem;
  }
}
