body {
  font-family: "Poppins", sans-serif;

  margin: 0;
  box-sizing: border-box;
  background-color: #242254;
  height: 100vh;
}

/* REUSABLE CLASSES */

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

/* END REUSABLE CLASSES */
