html,
body {
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #242254;
  color: #fdf9de;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

body * {
  box-sizing: border-box;
}

a {
  width: 100%;
  max-width: 30rem;
  color: inherit;
}

/* REUSABLE CLASSES */

.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: unset;
}

/* END REUSABLE CLASSES */

/* BUTTONS */

.primary-button-lg {
  padding: 0.8rem 0;
  width: 100%;
  max-width: 30rem;
  background-color: #fd7cc5;
  color: inherit;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.primary-button-lg:hover {
  background-color: #fc42ab;
  cursor: pointer;
}

.secondary-button-lg {
  padding: 0.8rem 0;
  width: 100%;
  max-width: 30rem;
  background-color: transparent;
  color: #fd7cc5;
  border: 0.2rem #fd7cc5 solid;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.secondary-button-lg:hover {
  background-color: #fd7cc5;
  color: #fdf9de;
  cursor: pointer;
}

.link-button {
  display: inline-block;
  max-width: 30rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
}

.link-button:hover {
  color: #fc42ab;
}

/* END BUTTONS */

/* HEADER */

.header {
  height: 5rem;
  color: #bab6f5;

  display: flex;
  align-items: center;
  padding: 0 5rem;
  grid-area: header;
}

/* END HEADER */

/* MAIN */

.title {
  width: 100%;
  font-size: 2.8rem;
  margin: 0 0 3rem 0;
  line-height: 1.5rem;
}

.main {
  min-width: 0;
  display: flex;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto 0 auto;
  padding: 3rem 8rem;
  flex-direction: column;
  grid-area: main;
}

/* END MAIN */

/* FOOTER */

.footer {
  display: flex;
  width: 100%;
  height: 1.5rem;
  color: #bab6f5;
  padding: 2rem 3rem;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  grid-area: footer;
}

/* END FOOTER */

/* MEDIA QUERIES */

/*--------- TABLET LARGE ---------*/
@media (max-width: 1024px) {
  .main {
    padding: 3rem 5rem;
  }

  .primary-button-lg,
  .secondary-button-lg,
  .primary-button-sm {
    width: 100%;
  }
}

/*--------- TABLET SMALL ---------*/
@media (max-width: 768px) {
  .title {
    font-size: 2.4rem;
  }

  .primary-button-lg,
  .secondary-button-lg {
    font-size: 1.4rem;
  }

  .header {
    padding: 0 3rem;
  }

  .main {
    padding: 3rem 3rem;
  }
}

/*--------- MOBILE ---------*/
@media (max-width: 480px) {
  .header {
    padding: 0 1.5rem;
  }

  .main {
    padding: 1.5rem 1.5rem;
  }
}
