
#you-won {
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#you-lose {
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#you-won .button-container, #you-lose .button-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#score {
    margin-bottom: 4rem;
    font-size: 2rem;
}

/* #boredL, #boredW {
    background: none;
    border: solid 0.1rem;
    color: #FD7CC5;
} */

#win {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
}

#lose {
    margin-bottom: 4rem;
    font-size: 3rem;
    text-align: center;
}

/*--------- TABLET SMALL ---------*/
@media (max-width: 768px) {

    #lose, #win {
        font-size: 2rem;
    }
  }
